.social-icons {
    list-style: none;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 10px;
    position: relative;
    font-size: 1em;
  }
  
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: #fd10fd;
    /* background: #ff1d58; */
    transition: all 265ms ease-out;
  }
  
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  
  .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #fd10fd;
    background: #fd10fd;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }
  